.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  background-color:rgb(177, 223, 219);
 
}

.headerImage{
  width: 100%;
}
body {
  background-color: rgb(177, 223, 219);
}

div {
  white-space: pre-wrap;
}
.ul {
  background-color: white;
  list-style-type: none;
  margin-left: 70px;
  margin-right: 70px;
  padding: 40px;
}
.container {
  display: flex;
  margin: 15px;
}

.img {
  position: relative;
  float: left;
  clear: left;
  margin: 20px;
  bottom: 5px;
}
.role {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.languages {
  display: flex;
}
.language {
  background-color: rgb(177, 223, 219);
  color: white;
  margin: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
